:root {
  --primary-color: #3887be;
  --secondary-color: #333333;
  --light-color: #edefee;
}

section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--light-color);
}

p {
  line-height: 1.5rem;
  text-align: center;
}

h1 {
    text-align: center;
}

.wrapper {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.btn {
  max-width: 240px;
  width: 100%;
  padding: 1rem 0;
  border-radius: 10px;
  border: none;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}

.primary {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn.primary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.section-title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 3rem;
}

header {
  z-index: 1;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 20pt;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}


#navbar {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 0 12px;
  position: relative;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-weight: Bold;
  font-size: 16px;
}

header a {
  color: var(--primary-color);
}

nav a:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 15px;
  width: 0;
  height: 2px;
  transition: width 0.2s ease-in-out;
  background: var(--primary-color);
}

nav a:hover:after {
    width: 40%;
}

nav div {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
}

header.container {
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
}

#mobile {
  display: none;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 60px;
    right: -300px;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    background: #eff0f2;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  #navbar.active {
    right: 0px;
  }

  #mobile {
    display: block;
  }
}

#hero-section {
  position: relative;
  color: var(--light-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/hero-background.png) no-repeat center center;
  background-size: cover;
  z-index: -1;
}

#hero-section .headings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero-section button {
    margin-top: 3rem;
  }

h1.title {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

section#youtube-section {
  height: 590px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

#youtube-section img {
  max-width: 500px;
  width: 100%;
  max-height: 300px;
  margin: 0 auto;
}

#youtube-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: var(--primary-color);
}

#youtube-section p {
  text-align: center;
}

#youtube-section > * {
  flex: 1;
}

#youtube-section .yt-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


#courses-section {
  background-color: var(--secondary-color);
}

#courses-section p {
    text-align: left;
}

#contactus-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 25rem;
}

#contactus-section h1 {
  font-size: 2rem;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

#contactus-section p {
  margin-bottom: 2rem;
}

footer {
    background-color: var(--secondary-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer h1,h3 {
    color: var(--primary-color);
}

footer h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

footer h3 {
    margin: 1.5rem 0;
}

footer li {
    margin-bottom: 0.4rem;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.cards-container > * {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.card {
  max-width: 245px;
  min-width: 190px;
  height: 445px;
  background-color: var(--primary-color);
  border-radius: 10px;
  position: relative;
  color: var(--light-color);
}
.card img {
  width: 100%;
  height: 185px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .card-description,
.card-title,
.card-bottom {
  padding: 0.3rem 2rem;
}
.card .card-bottom {
  position: absolute;
  bottom: 1rem;
}

.card-title {
  height: 2rem;
  margin-bottom: 1rem;
}

.card-title h3 {
  font-size: 16px;
}


@media screen and (max-width:800px){
    .footer-container {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "logo nav1"
                                "logo nav2"
                                "logo nav3";
    }

    .footer-logo {
        grid-area: logo;
    }

    .footer-nav {
        grid-area: nav1;
    }

    .footer-courses {
        grid-area: nav2;
    }

    .footer-socials {
        grid-area: nav3;
    }
}
